#map {
  flex: 0 0 350px;
  height: 100vh;
  position: sticky !important;
  top: 30px !important;
  width: 100%;
  margin-left: 0px;
  top: 10px !important;
  margin-top: 0px;





}
.content {
  display: flex;
}
