<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('https://fr.best-wallpaper.net/wallpaper/1920x1080/1309/Florence-Toscana-Italy-city-street-house-bike-sunrise_1920x1080.jpg');">
  <div class="banner-center-title">
    <h1>B I K E &nbsp; &nbsp;I T</h1>
    <p>Unique place to rent a bike around the world.</p>
    <form class="form-inline">
      <div class="banner-content">
        <div class= "banner-form"><%= simple_form_for :search, url: bikes_path, method: :get do |f| %>
        <%= f.input :address %> </div>
        <div class= "banner-button">
        <%= f.button :submit, class: "btn btn-success", value: "Find a bike!" %> </div>
        <% end %>
      </div>
    </form>
    <%= link_to 'Rent a bike', bike_rents_path, class: "btn btn-primary" %>
  </div>
</div>





