<div class="rented_bikes">
  <ul>
    <% @bike_rents.each do |rent| %>
      <li>
        <%= rent.bike.title %>
      </li>
      <li>
        <p> Date: <%= rent.booking_date %></p>
      </li>
      <li>
        Owner: <%= rent.bike.tenant.name %>
      </li>
      <li>
        <%= cl_image_tag(rent.bike.picture, class: "rented_picture") %>
      </li>
    <% end %>
  </ul>
</div>









