.bike-picture {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bike-content {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

.my-simple_form {
  margin-top: 40px;
}

body {
  background-color: #ecf0f1;
}

.btn.btn-danger {
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.bike-description {
  margin-left: 30px;
  width: 800px;

  h2 {
    color: #3ac162;
    font-weight: bold;
  }
}
