.btn-success {
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  background: #4fb783;
  transition: background 0.3s ease;
  margin-bottom: 20px;
  text-align: center;

}
.btn-success:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
