.card {

  background: white;
  margin-bottom: 10px;
  border-radius: 1px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  align-items: center;
  border: 1px solid;
  align-items: center;
  justify-content: space-around;

}
.card-header {
  height: 220px;
  background-size: cover;
  background-position: center;

}
.card-body {
  height: 140px;
  margin: 10px;
  align-items: center;
  text-justify: center;
  vertical-align: middle;

  ul {
    list-style:none;
    margin-left:0;
    padding-left:0;

    li {
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
  }



}
