.card-blog {
  margin-top: 30px;
}

.card {

  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-header {
  background-size: cover;
  background-position: center;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.card-body {
  height: 120px;
  margin: 20px;
  align-items: center;
  text-justify: center;
  vertical-align: middle;
  background-color: transparent;
  text-align: center;

  a {
  text-decoration: none;
  color: #3ac162;
  font-size: 20px;
  font-weight: bold;

  }

  h4 {
    font-size: 26px;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
  }

  p {
    font-size: 14px;
    display: block;
    color: #606470;
    margin-top: 5px;
  }
}

.card-price {
  display: block;
  height: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 26px;
  left: 45%;
}

.card-caption {
  height: 15px;
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
}


