.create-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 16px;
  background-image: linear-gradient(rgba(200,200,200,0.5), rgba(100,100,100,0.5)), url("background_image.png");
  height: 91vh;
  h2 {
    text-align: center;
    color: rgb(78,204,163);
  }
}

.form_background {
  border-radius: 15px;
  margin: 10px;
  background: rgba(250, 250, 250, 0.9);
  padding: 10px 30px;
  width: 400px;
}

.simple_form {
  padding-left: 0px;
}

